disk_size          = "20"
net                = "shared-network"
subnet             = "subnet-name"
project            = "123456789012"

# Not enabled with the portal app
#disk_image        = "coreos-stable"
#disk_type         = "pd-ssd"
#docker_repository = "bgruening/galaxy-stable"
#docker_ports      = "-p 8080:80 -p 8021:21"
#machine_type      = "n1-highmem-2"

